.footer {
  // position: fixed;
  // left: 0;
  width: 100%;
  // bottom: 2vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-grey);
  text-align: center;

  a {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: currentColor;
      transition: all 0.2s;
    }

    &:hover {
      color: var(--color-secondary);
    }

    &.name {
      font-weight: 700;
    }
  }
}
