@mixin btnReset {
  text-decoration: none;
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
