*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  outline: none !important;
}

input,
button,
label,
img {
  user-select: none;
}
