.heading-primary {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-primary);
}

.heading-secondary {
  font-weight: 700;
  font-size: 1.8rem;
}

.text-mute {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-grey);
  text-transform: uppercase;
}
